---
import Layout from "../layouts/Layout.astro";

const title = "Lettre de Motivation";
const lm = {
	responsable: "[Nom du Responsable du recrutement]",
    society: "[Nom de l'Entreprise]",
    address: "[Adresse de l'Entreprise]",
	date: 'Ville, Code Postal',
	diploma: 'Développeur Web',
    post: "Développeur Front-End",
	ref: "000000",
	org: "Actiris"
}
const lmContent =[
	"Madame, Monsieur,",
	`Je me permet de vous adresser ma candidature pour le post de ${lm.post} au sens de votre entreprise, 
	 suite à votre référence N°: ${lm.ref} sur ${lm.org}. Attiré par votre vision novatrice et votre réputation d'excellence dans le domaine du ${lm.diploma},
	 je suis convaincu que mon profil et mes compétences pourraient apporter une valeur ajoutée à votre équipe.`,
	 `Malgré le fait que je n'ai pas encore eu l'opportunité de travailler professionnellement en tant que ${lm.post},
	 je possède une solide base de connaissances dans ce domaine. Ayant consacré de nombreuses heures à l'auto-apprentissage et à la pratique,
	 j'ai acquis une expertise significative dans les langages et technologies essentiels au ${lm.diploma}, notamment HTML, CSS et JavaScript. De plus, je 
	 suis familier avec des frameworks tels que Astro, Express, Bootstrap et bibliothèques comme GitHub, Markdown et Json et la connaissances en MongoDb et MySQL.`,
	 `Mon parcours académique dans ${lm.diploma} m'a également permis de développer des compétences en analyse, résolution de problèmes et en collaboration, des qualités essentielles 
	 pour réussir dans la domaine du ${lm.diploma}. Ma capacité à apprendre rapidement de nouvelles technologies et concepts me permettrait de m'adapter efficacement à
	 l'environnement de votre entreprise et d'apporter des solutions innovantes à vos projets.`,
	 `Je suis passionné par le ${lm.diploma} et je suis constamment à l'affût des dernières tendances et des meilleures pratiques de l'industrie. 
	 Je suis convaincu que mon enthousiasme, ma détermination et mon désir d'apprendre pourraient contribuer de manière significative à la réussite de votre équipe.`, 
	`Je serais ravi de discuter avec vous de ma candidature et de mes perspective d'avenir au sein de votre entreprise.
	Je suis disponible pour un entretien à votre convenance et je vous remercie par avance de l'attention que vous porterez à ma candidature.`,
	// "Conscient des implications financières liées à l’engagement d’un nouveau collaborateur, je suis disposé à vous offrir toutes les aides a l’emploi dont je peux bénéficier. Par exemple, nous pourrions envisager de débuter par un contrat de type FPI  (Stage rémunéré), accompagné d’un plan ACTIVA, Je remplis en effet les critères d’éligibilité au plan ACTIVA, qui représente l’une des aides les plus avantageuses disponibles sur le marché de l’emploi. Je suis ouverte à discuter de différentes options et à trouver ensemble la solution la plus appropriée pour faciliter notre collaboration.  Je suis disponible par téléphone au +32 (0).479.069.836 ou par e-mail à jescordova@hotmail.com.",
]
const lmFirm = [
	"Je vous prie d’agréer, Madame, Monsieur, l’expression de mes salutations distinguées.",
	"Cordialement,",
	"Jesús Córdova Lizano"
]
---

<Layout title={title}>
	<section class="lm col-lg-9">
		<!-- Button trigger modal -->
		<article class="lm">
			<header class="lm">
				<h2>{lm.society}</h2>
				<ul>
					<li><p>{lm.responsable}</p></li>
					<li><p>{lm.address}</p></li>
					<li><p>{lm.date}</p></li>
				</ul>
			</header>
			<main class="lm">
				<ul>
					<li><p>Candidature au post de {lm.post} (f/h)</p></li>
					<li><p>Référence N° : {lm.ref} - {lm.org}</p></li>
					{lmContent.map((item) =>
						<li><p>{item}</p></li>
					)}
				</ul>
			</main>
			<footer class="lm">
				<ul>
					{lmFirm.map((sign)  => 
						<li><p>{sign}</p></li>
					)}
					<li><p>{lm.diploma}</p></li>
				</ul>
			</footer>
		</article>
	</section>
</Layout>

<style>
	article{
        border: 1px solid #D2D2D2;
        height: 100%;
        padding: 0.8rem;
        border-radius: 0.3rem;
    }
	header{
		text-align: right;
		h2{
			font-family: "Protest Guerrilla", sans-serif;
		}
		ul{
			li:nth-child(2) p{
				margin-bottom: 0;
			}
			li:last-child p{
				font-style: italic;
			}
		}
	}
	main{
		text-align: justify;
		ul{
			li:first-child p{
				margin-bottom: 0;
				margin-top: 2rem;
			}
			li:nth-child(2){
				font-style: italic;
			}
		}
	}
	footer{
		text-align: right;
		ul{
			li:first-child{
				text-align: left;
			}
			li:nth-child(3) p{
				margin-bottom: 0;
			}
		}
	}
	ul{
		list-style-type: none;
		padding-left: 0;
	}
</style>