---
import Layouts from "../layouts/Layouts.astro";

const title = 'motivation';
const lm = {
	responsable: "[Responsable du recrutement]",
    society: "[Nom de la société]",
    address: "[Adresse de la société]",
	date: 'Bruxelles le, 07/03/2024',
    objet: "Candidature au post de Front-End (h/f).",
	offre: "346790",
	org: "Actiris"
}
const lmContent =[
	"Suite à votre annonce référencée  N° 000000 sur Actiris, je souhaiterais vous adresser ma candidature pour le post de Front-End au sein de votre entreprise. Je suis profondément intéressé pour votre organisation et convaincu que mes compétences en développement Web pourraient contribuer à améliorer la qualité de vos projets. Je suis très motivé à l'idée de mettre  mes connaissances et mon expérience au service de votre équipe.",
	"Bien que je n’aie pas d’expérience formelle en tant que Front-End, je possède une solide expérience dans la domaine du développement Web. Mon expertise réside notamment dans la compréhension des structures de projets Web, l’intégration de codes à travers des outils tels que VS Code et GitHub, ainsi que dans ma capacité à trouver des solutions efficaces pour toute situation qui peut-être se présente dans vos projets. Cette expérience m’a permis de développer des compétences essentielles telles que la rigueur, l’analyse critique et le souci du détail, tous de qualités indispensables pour exceller en tant que Front-End. Je suis convaincu que ma solide base de connaissances et mon engagement à m’améliorer continuellement pourraient grandement contribuer à votre équipe et à la réussite de vos projets.",
	"Conscient des implications financières liées à l’engagement d’un nouveau collaborateur, je suis disposé à vous offrir toutes les aides a l’emploi dont je peux bénéficier. Par exemple, nous pourrions envisager de débuter par un contrat de type FPI  (Stage rémunéré), accompagné d’un plan ACTIVA, Je remplis en effet les critères d’éligibilité au plan ACTIVA, qui représente l’une des aides les plus avantageuses disponibles sur le marché de l’emploi. Je suis ouverte à discuter de différentes options et à trouver ensemble la solution la plus appropriée pour faciliter notre collaboration.  Je suis disponible par téléphone au +32 (0).479.069.836 ou par e-mail à jescordova@hotmail.com.",
	"Je vous prie d’agréer, Madame, Monsieur, l’expression de mes salutations distinguées.",
]
const lmSignataire = [
	"Cordialement,",
	"Jesús Córdova Lizano"
]
---
<Layouts title={title}>
	<section class="lm col-lg-9">
		<article class="lm contenu">
			<header class="lm header">
				<h2>{lm.society}</h2>
				<ul>
					<li>{lm.responsable}</li>
					<li>{lm.address}</li>
					<li>{lm.date}</li>
				</ul>
			</header>
			<main class="lm body">
				<p>{lm.objet}</p>
				<p>Référence N° : {lm.offre} {lm.org}</p>
				<ul>
					{lmContent.map((item) =>
						<li><p>{item}</p></li>
					)}
				</ul>
			</main>
			<footer class="lm footer">
				<ul>
					{lmSignataire.map((sign)  => 
						<li>{sign}</li>
					)}
				</ul>
			</footer>
		</article>
	</section>
</Layouts>
<style></style>