---
const {title} = Astro.props;
const nav = {
    title: title,
    btnT: 'bi bi-arrow-bar-down',
    btnM: 'bi bi-file-earmark-richtext',
    btnC: 'bi bi-file-person'
}
---
<div class="nav-links">
    {title === 'motivation'
        ? <h2><a href="/">lettre de {nav.title}</a></h2>
        <a class="btn" href="/cv/" title="Aller au curriculum"><i class={nav.btnC}></i></a>
        <button class="btn d-none" id="btnLM" title=`Télécharger Lettre ${nav.title}`><i class={nav.btnT}></i></button>
              
        : <h2><a href="">{nav.title} vitae</a></h2>
        <a class="btn" href="/" title="Aller au motivation"><i class={nav.btnM}></i></a>   
        <button class="btn d-none" id="btnCV" title=`Télécharger ${nav.title} vitae`><i class={nav.btnT}></i></button>
    }
        <a class="btn d-lg-none" 
            data-bs-toggle="offcanvas"
            href="#offcanvasExample"
            role="button"
            aria-controls="offcanvasExample"
        ><i class="bi bi-list"></i></a>
</div>
<style>

</style>